<%= form_for(@estimate) do |e| %>
    <label for="estimate_project">Project name</label>
    <input id="estimate_project" name="project" autocomplete="off" size="30" type="text" />
    <button type="submit">Hej</button>
<% end #form_for %>