<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You have recieved an invite from <%= @user.name %> to particapate in a project on estimatorapp.com.
    </p>
  </body>
</html>