= form_for @task, :url => child_task_path(@parent, @task) do |f|
  = f.text_field :name, :placeholder => "Name for task"
  = f.text_field :hours, :placeholder => "Estimated number of hours to complete task"
  = f.submit
