%h1 Settings
%p Lorem ipsum Est Excepteur voluptate labore nulla Duis in sunt do occaecat officia ullamco deserunt.

%h2 Project templates
%p
  - current_user.templates.each do |p|
    %span.tag
      = link_to p.name, p
      = link_to content_tag(:i, nil, class: "icon-cancel"), p, :method => :delete, :class => "cross"

= link_to new_template_path, class: "btn" do
  %i.icon-doc-new
  New template
  %span Create a template for new projects with default tasks and settings to build upon.
