@import 'normalize.css';
@import 'icons.css';

$darker-blue: #005790; //#0077B0;
$dark-blue: #294C6D; //#0087C0;
$blue: #207DB1; //#0087C0; //#00A7E0;
$light-blue: #45ABEC;
$lighter-blue: #BEF;
$hover-blue: darken($blue, 5%);

$red: #e65;
$dark-red: #d54;
$dark-orange: #B40;
$orange: #E73;
$dark-orange: #C2864B;
$light-orange: #FF9550;
$lighter-orange: #FFB570;
$yellow: #fff3e3;
$dark-yellow: #DBD0BE;
$darker-yellow: #CEBB94;
$yellow-dark-tint: #fae8d8;
$yellow-light-tint: #fff9f3;
$greyish: #E6E4DD;

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font: 110%/1.6 'proxima-nova', 'Helvetica Neue';//'freight-sans-pro';
  margin: 0 auto;
  padding: 0 0 2em;
  color: white;
  background: $dark-blue;
}

h1, h2, h3 {
  font-family: 'brandon-grotesque', 'Helvetica Neue';
  font-weight: 400;
  color: white;
}

h1 {
  margin: 1em 0;
  font: 1.4em/1em 'proxima-nova', 'Helvetica Neue';
  font-weight: 500;
  letter-spacing: 0.05em;

  span {
    display: block;
    font-size: 0.45em;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: lighten($dark-blue, 15%);
  }
}

a {
  color: white;
  text-decoration: none;
  transition: all 0.15s;

  &:hover { color: lighten($dark-blue, 15%); }
}

p { margin: 0 0 1.6em; }

.small {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 0.7em;
}

.right { text-align: right; }

.container {
  max-width: 32em;
  margin: 0 auto;
  padding: 0;
  position: relative;
  clear: both;

  &:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
  }
}

header {
  background: $blue; //lighten($dark-blue, 5%);//$dark-blue;//$orange;//#f5f5f5;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 42px;

  .logo {
    float: left;
    img { width: 42px; height: 42px; display: block;}
  }

  a {
    color: white;
    &:hover { color: lighten($dark-blue, 15%); }
  }

  .top-bar nav {
    float: right;
    text-align: right;
    font-size: 0.7em;
  }

  .hidden-menu {
    padding: 1em 1.4em;
    height: 200px;
    margin-top: -200px;
    transition: all 0.4s;

    .user {
      float: left;
      line-height: 30px;
      font-size: 0.7em;
    }

    nav {
      font-size: 0.7em;
      width: 100%;
      float:left;

      a {
        display: block;
        line-height: 30px;
      }
    }
  }
  .menu-open { margin-top: 0; }
  .top-bar { padding: 0.6em 1.4em; }
}

section.main { padding: 0 1.4em; }

footer {
  padding: 2em 0 3em;
  font-size: 0.7em;
  color: $light-blue;
  text-align: center;
}

/***********/
/* BUTTONS */
/***********/

.btn, input[type="submit"] {
  display: block;
  padding: 0.6em 1em;
  background: $blue;
  color: #fff;
  border: 0;
  transition: all 0.2s;
}

.wide-btn {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0.6em;
  text-align: left;
  color: white;
  border-bottom: 2px dotted $light-blue;
  transition: all 0.2s;

  &:hover,
  &:active { background: lighten($dark-blue, 6%); color: white; }
  &:last-child { border: 0; }
}



.btn span, .wide-btn span {
  display: block;
  color: $light-blue;
  font-size: 0.8em;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active { background: $hover-blue; color: white; }

/*********/
/* FORMS */
/*********/

input, textarea {
  display: block;
  width: 100%;
  margin: 1em auto;
  padding: 0.2em 0.4em;

  outline: none;
  border: 0;
  border-top: 5px solid $blue;
  border-bottom: 5px solid $blue;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: all 0.15s;
}

input[type='checkbox'] {
  display: inline-block;
  width: auto;
  -webkit-appearance: checkbox;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: $blue;
}

input:hover,
input:active,
input:focus,
input:hover::-webkit-input-placeholder,
input:focus::-webkit-input-placeholder,
textarea:hover,
textarea:active,
textarea:focus,
textarea:hover::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  border-color: $blue;
  color: #333;
}

.inline {
  &.btn, input, textarea {
    display: inline-block;
    width: auto;
  }
  input[type="submit"] { padding: 0.2em 0.4em; }
}

table {
  margin: 2em 0 1em;
  font: 0.8em/1.5 'source-code-pro', monaco;
  width: 100%;
  color: #333;

  a {
    color: $blue;
  }

  td { padding: 0.4em; white-space: nowrap; }
  td.rate, td.hours, td.fee { width: 50px; text-align: center; }
  tr:last-child { border: 0; }

  thead {
    color: $light-blue;
    border-bottom: 3px solid $light-blue;
    text-transform: uppercase;
    font-size: 0.8em;
  }

  tbody {
    background: $dark-yellow;
    border: 1px solid $darker-yellow;
    border-top: 0;
    overflow: hidden;

    tr { border-bottom:1px solid $darker-yellow; }
    tr:hover, tr.sub-task:hover { color: $orange; background: $yellow-dark-tint; }
    tr td:last-child { text-align: right; }
  }

  tr.sub-task {
    background: $greyish;
    color: $dark-orange;

    td { font-size: 0.85em; }
    td:first-child { padding-left: 0.6em; }
    td:last-child { font-size: 1em; }
  }

  .symbol {
    width: 10px;
    font-size: 0.8em;
    color: #EE8943;
    text-align: center;
  }
}

.tag {
  display: inline-block;
  margin-bottom: 0.3em;
  background: $yellow;
  transition: all 0.1s;
  padding: 0 0.4em;
  &:hover { background: $yellow-light-tint; }

  a {
    display: inline-block;
    color: $orange;
    border: 0;

    &:hover { color: $dark-orange; }
    &.cross {
      padding: 0.2em 0;
      &:hover { color: red; }
    }
  }

  i { position: relative; top: 1px; }
}

.notes {
  font: 0.8em/1.5 'source-code-pro', monaco;
  color: #333;
  margin-bottom: 1em;

  em {
    margin: 0;
    padding: 0.4em;
    display: table-cell;
    font-size: 0.8em;
    color: $light-blue;
    text-transform: uppercase;
    font-style: normal;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    background: $greyish;
    border-top: 3px solid $light-blue;

    li {
      display: block;
      position: relative;
      padding: 0.4em 3.8em 0.4em 0.4em;
      border-top:1px dashed $darker-yellow;
      &:first-child { border: 0; }
      &.done { color: $dark-orange; text-decoration: line-through; }

      span {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.4em;

        a {
          color: $blue;
          &:hover { color: $light-blue; }
          &.delete-icon { &:hover { color: red; } }
        }
      }
    }
  }


  input {
    display: inline-block;
    margin-top: 1em;
    padding: 0.4em;
    border: 0;
    float:left;
  }
  input[type=text] { width: 70%; }
  input[type=submit] { width: 30%; }
}

.editors {
  font: 0.8em/1.8 'source-code-pro', monaco;
  color: $light-blue;

  em { padding: 0.4em; font-size: 0.8em; font-style: normal; text-transform: uppercase; line-height: 2.4em; }
  a { font-family: 'proxima-nova', 'Helvetica Neue'; }
}

.total {
  margin: 1em 0 2em;
  display: block;
  font-family: 'source-code-pro', monaco;
  text-align: right;
  text-transform: uppercase;

  span { color: $lighter-orange; } //#EE8943; }
}

.project-icons {
  margin: 1em auto;
  text-align: center;
  font-size: 2em;
}

img.avatar { 
  max-width: 10em;
  border: 5px solid white;
}

a.delete-icon:hover { color: #F44; }

#error_explanation, .alert, .error {
  text-align: left;
  font-size: 0.8em;
  padding: 0.6em;
  margin-top: 1em;
  background: $red;
  color: white;
  border: 5px solid $dark-red;
  h2 {
    margin: 0;
    font-size: 1em;
    font-family: 'proxima-nova';
  }
  ul {
    list-style: circle;
    margin: 0;
    padding-left: 1.6em;
  }
}

.notice {
  text-align: left;
  font-size: 0.8em;
  padding: 0.6em;
  margin-top: 1em;
  background: #3D8;
  color: white;
  border: 5px solid #2C7;
}

/**************/
/* FRONT PAGE */
/**************/

body.pages-front { border-top: 15px solid $dark-blue; }

.pages-front {
  h1 {
    margin: 0.6em auto 0.2em;
    font-family: "brandon-grotesque", 'Helvetica Neue';
    font-size: 1.8em;
    font-weight: bold;
    color: white;//#00BEFF;//#FFD245;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1;
    text-align: center;
  }
}

.pages-front section.main, .estimates-index section.main { padding: 0 1em; text-align: center; }
.estimates-index section.main h1 { margin-bottom: 0.5em; }
.registration-new section.main, .sessions-new section.main { padding: 2em 0 0; }


@media screen and (min-width:560px) {

  body { font: 130%/1.6 'proxima-nova', 'Helvetica Neue'; }
  .pages-front .container, .estimates-index .container, [class*='registrations-'] .container, [class*='sessions-'] .container { width: 440px; }

  h1 { font-size: 1.8em; }

  .pages-front h1 {
    margin: 1.2em auto 0.2em;
    font-size: 2.6em;
  }

  header {
    .hidden-menu {
      height: 150px;
      margin-top: -150px;

      nav { width: 50%; }
    }
    .menu-open { margin-top: 0; }
  }
}
