@font-face {
  font-family: 'custom';
  src: url('/assets/custom.eot?38063553');
  src: url('/assets/custom.eot?38063553#iefix') format('embedded-opentype'),
       url('/assets/custom.woff?38063553') format('woff'),
       url('/assets/custom.ttf?38063553') format('truetype'),
       url('/assets/custom.svg?38063553#custom') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'custom';
    src: url('../font/custom.svg?38063553#custom') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "custom";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-level-down:before { content: '\e814'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-cog-1:before { content: '\e808'; } /* '' */
.icon-mail:before { content: '\e800'; } /* '' */
.icon-down:before { content: '\e806'; } /* '' */
.icon-left:before { content: '\e823'; } /* '' */
.icon-right:before { content: '\e824'; } /* '' */
.icon-trash:before { content: '\e809'; } /* '' */
.icon-up:before { content: '\e818'; } /* '' */
.icon-edit:before { content: '\e807'; } /* '' */
.icon-flow-split:before { content: '\e80d'; } /* '' */
.icon-doc-new:before { content: '\e80a'; } /* '' */
.icon-plus:before { content: '\e805'; } /* '' */
.icon-power:before { content: '\e80c'; } /* '' */
.icon-ok-outline:before { content: '\e816'; } /* '' */
.icon-ok-1:before { content: '\e817'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-user-add:before { content: '\e81f'; } /* '' */
.icon-export:before { content: '\e81c'; } /* '' */
.icon-comment-1:before { content: '\e81b'; } /* '' */
.icon-share:before { content: '\e813'; } /* '' */
.icon-login:before { content: '\e80b'; } /* '' */
.icon-logout:before { content: '\e822'; } /* '' */
.icon-twitter:before { content: '\e811'; } /* '' */
.icon-facebook:before { content: '\e812'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
.icon-chat-empty:before { content: '\e81d'; } /* '' */
.icon-github:before { content: '\e80f'; } /* '' */
.icon-info:before { content: '\e804'; } /* '' */
.icon-html5:before { content: '\e80e'; } /* '' */
.icon-css3:before { content: '\e810'; } /* '' */
.icon-twitter-1:before { content: '\e81a'; } /* '' */
.icon-user-1:before { content: '\e820'; } /* '' */
.icon-users:before { content: '\e821'; } /* '' */
.icon-chart-bar:before { content: '\e81e'; } /* '' */